    body {
        background: -webkit-linear-gradient(bottom, #b39868, #e0ccb9);
        background-repeat: no-repeat;
    }
    
    .container {
        background: #fbfbfb;
        border-radius: 10px;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
        height: 400px;
        margin: 100px auto 157px auto;
        width: 387px;
    }
    
    .content {
        padding: 12px 44px;
    }
    
    .title {
        font-family: "Raleway Thin", sans-serif;
        letter-spacing: 4px;
        padding-bottom: 23px;
        padding-top: 13px;
        text-align: center;
    }
    
    .form {
        align-items: left;
        display: flex;
        flex-direction: column;
    }
    
    .form-border {
        background: #0d0ffc;
        height: 1px;
        width: 100%;
    }
    
    .form-content {
        background: #fbfbfb;
        border: none;
        outline: none;
        padding-top: 14px;
    }
    
    a {
        text-decoration: none;
    }
    
    p {
        font-family: sans-serif;
    }
    
    label {
        font-family: sans-serif;
        font-size: 12pt;
    }
    
    .forgot-pass {
        color: #001dff;
        font-family: sans-serif;
        font-size: 11pt;
        margin-top: 4px;
        text-align: right;
    }
    
    .signup {
        color: #001dff;
        font-family: "Raleway", sans-serif;
        font-size: 11pt;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .submit-btn {
        background: #001dff;
        border-radius: 7px;
        cursor: pointer;
        color: white;
        font-family: sans-serif;
        height: 40px;
        margin: 0 auto;
        margin-top: 29px;
        margin-bottom: 3px;
        width: 153px;
    }
    
    .div {
        padding-top: 10px;
    }
    
    .submit-btn:hover {
        box-shadow: 0px 1px 15px #001dff;
    }